/* Styles for 3D model viewing app */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
.mainButton {
    border-radius: 5px;
    position: absolute;
    padding: 5px;
    background-color: rgba(150, 150, 150, 0.5);
    overflow: hidden;
    color: #7fa5ff;
}
#loadButton {
    top: 20px;
    left: 300px;
}
.upload {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    background-color: #004040;
}
